
<html>
  <head>
    <title>Suggestion Box - Login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="static/css/styles.css" rel="stylesheet">
  </head>
  <body>

    <div class= "panel-group col-xs-4">

      <div class= "panel panel-primary">
        <div class="panel-heading">Sign In</div>
         <div class="panel-body">
          
         
    <form class="form-horizontal" action="{{url_for('login')}}" method="POST">
      {{ form.hidden_tag()}}
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
    <div class="col-xs-8">
   <!-- <input type="email" class="form-control" id="inputEmail3" placeholder="Email">  -->
      {{form.email}}
    </div>
  </div>

  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
    <div class="col-xs-8">
      <!-- <input type="password" class="form-control" id="inputPassword3" placeholder="Password">  -->
      {{form.password}}
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>Remember me</label>
           <!-- <input type="checkbox"> Remember me  -->
          {{form.remember_me}}
        </label> 
      </div>

    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <!-- <button type="submit" class="btn btn-primary btn-lg">Sign in</button> -->
      {{ form.submit }}
      <div>
      <sm>Don't have an account? </sm><a href ="/register">Register here</a>
    </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>

</form>  
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>
